[FORMAT]
max-line-length=130
[MESSAGES CONTROL]
disable=broad-exception-raised, broad-exception-caught, no-member, pointless-string-statement, too-many-locals, import-error, too-few-public-methods, too-many-instance-attributes